# Ignore node_modules
node_modules/

# Build outputs
build/
dist/

# Production files
*.log
*.lock
*.zip

# Coverage reports
coverage/

# Environment files
.env
.env.* 

# Local config files
*.local.js

# Static assets
public/

# Ignore specific config files
package-lock.json
yarn.lock

# Ignore all minified files
*.min.js
*.min.css

# Ignore compiled files
*.bundle.js
*.bundle.css

# Optional: Ignore API mock files or JSON test data
mock/
**/*.mock.js
**/*.mock.json
